<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
    <link rel="stylesheet" href="/style.css" type='text/css'>
</head>

<body>
    <div class="container">
    <h1><%= category%> Products!</h1>
    <ul type="none">
        <% for(let product of products) { %>
        <li><a href="/products/<%=product._id%>"><%= product.name %></a> </li>
        <% }%>
    </ul><br>
    <a class="btn" href="/products/new">New Product</a>
    <%if(category !== 'All') {%>
    <a class="btn" href="/products">All Products</a>
    <% } %>
</div>
</body>

</html>