<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <link rel="stylesheet" href="/style.css" type='text/css'>
</head>

<body>
    <h1>Welcome to Kirana Store</h1>
    <div class="contain">        
    <a class="btn" href="/products/new">New Product</a>
    <a class="btn" href="/products">All Products</a>
    </div>
</body>

</html>